{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form class="form-box" action="" method="post">
        <div class="caixa-form">
            <label >Usuário:</label>
            <input type="text">
        </div>
        <div class="caixa-form">
            <label >Senha:</label>
            <input type="text">
        </div>
        <input class="submmit-login" type="submmit" value="Entrar">

       </form>

      </div>

    </div>
  </div>
</div> --}}

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
               <form class="form-box" action="#" method="post">
        <div class="caixa-form">
            <label >Email:</label>
            <input type="text" name="email">
        </div>
        <div class="caixa-form">
            <label >Senha:</label>
            <input type="text" name="password">
        </div>
        <input class="submmit-login" type="submit" value="Entrar">
            </form>
      </div>
      <div class="modal-footer">
       <div class="box-modal2">
         <h5>Cadastre-se</h5>
         <p>Ainda não possui conta?</p>
         <button class="btn btn-primary submmit-login" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">cadastro</button>
       </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ERROR 404
       Por favor volte para a página inicial e inicie seu cadastro
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
      </div>
    </div>
  </div>
</div>

