<section class="caixa">
    <img class="foto1" src="./assets/img/cat01.jpg" alt="">
    <img class="foto1" src="./assets/img/cat02.jpg" alt="">
    <img class="foto1" src="./assets/img/cat05.jpg" alt="">

    <img class="foto2" src="./assets/img/cat11.jpg" alt="">
    <img class="foto2" src="./assets/img/cat08.jpg" alt="">
    
    <img class="foto3" src="./assets/img/cat04.jpg" alt="">

    <img class="foto1" src="./assets/img/cat12.jpg" alt="">
    <img class="foto1" src="./assets/img/cat13.jpg" alt="">
    <img class="foto1" src="./assets/img/cat06.jpg" alt="">

    <img class="foto2" src="./assets/img/cat09.jpg" alt="">
    <img class="foto2" src="./assets/img/cat03.jpg" alt="">

        <img class="foto3" src="./assets/img/cat07.jpg" alt="">

</section>